<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>660208338749-8sarce80ga0f5jcv7830i6tni9n5q4ck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.660208338749-8sarce80ga0f5jcv7830i6tni9n5q4ck</string>
	<key>API_KEY</key>
	<string>AIzaSyBgjx8H_boLaL26HO6XOXg41Wo7yZ0J2uE</string>
	<key>GCM_SENDER_ID</key>
	<string>660208338749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inch.medipotApp</string>
	<key>PROJECT_ID</key>
	<string>medipot-app-d950d</string>
	<key>STORAGE_BUCKET</key>
	<string>medipot-app-d950d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:660208338749:ios:9763ad39761c6a1d962754</string>
</dict>
</plist>