<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>865112705620-fnhl6s78is1b0ur06b1vkidjo2hous4c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.865112705620-fnhl6s78is1b0ur06b1vkidjo2hous4c</string>
	<key>API_KEY</key>
	<string>AIzaSyBp2y2VRRFx5w0f2Zn5i5po46je4kAtsHU</string>
	<key>GCM_SENDER_ID</key>
	<string>865112705620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inch.medipotApp</string>
	<key>PROJECT_ID</key>
	<string>medipot-app-ee177</string>
	<key>STORAGE_BUCKET</key>
	<string>medipot-app-ee177.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865112705620:ios:633c418734f0958cabfbc1</string>
</dict>
</plist>